<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button default-href="#" (click)="regresar()"></ion-back-button>
      </ion-buttons>
      <ion-title>Perfil</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="fondo">
    <div id="datos">
      <h1>Nombre</h1>
      <input type="text" placeholder="Ingresar Nombre"> 
      <h1>Apellido</h1>
      <input type="text" placeholder="Ingresar Apellido">
      <h1>Numero Telefónico</h1>
      <input type="text" placeholder="Ingresar Numero">
      <h1>Modelo de Auto</h1>
      <input type="text" placeholder="Ingresar Modelo">
    </div>
  </div>
</ion-content>
