<ion-content [fullscreen]="true">
  <ion-header>
		<ion-toolbar>
		  <ion-buttons slot="start">
			<ion-back-button default-href="#" (click)="regresar()"></ion-back-button>
		  </ion-buttons>
		  <ion-title>Registro</ion-title>
		</ion-toolbar>
	</ion-header>
    <div id="fondo">
      <div id="casillas">
      <h2>Crear Usuario</h2>
      <form (ngSubmit)="crearUsuario()">
          <input type="text" placeholder="usuario" required [(ngModel)]="usuario">
          <input type="text" placeholder="nombre" required [(ngModel)]="usuario.nombre"> 
          <input type="email" placeholder="correo" required [(ngModel)]="usuario.correo">
          <input type="password" placeholder="contrasena" required [(ngModel)]="usuario.contrasena">
         <button expand="full" type="submit">Crear Usuario</button>
      </form>
      </div>
    </div>
  </ion-content>
  
  