ion-menu ion-content {
  background-color: #f8f8f8; 
}

/* Estilos para los elementos dentro del ion-menu */
ion-menu ion-content div {
  padding: 10px; /* Espaciado alrededor de los elementos */
  font-size: 20px; /* Tamaño de fuente de los elementos */
}

/* Líneas divisorias entre elementos */
ion-menu ion-content hr {
  margin: 5px 0;
  border: none;
  border-top: 1px solid #ccc; /* Color y estilo de la línea divisoria */
}

/* Estilos para el contenido dentro de la página principal */
ion-page ion-content {
  background-color: #ffffff; /* Color de fondo del contenido de la página principal */
  
}

/* Estilos para el texto dentro de la página principal */
ion-page ion-content {
  font-size: 16px; /* Tamaño de fuente del texto */
}

.icon-align {
  height: 2em;       /* Match height to font-size of the text /
  vertical-align: middle; / Align to middle of text /
  margin-right: 0.3em;   / Some space between the icon and the text */
}

#hamburgesa {
  --background: none;
  background: url(https://cdn.pixabay.com/photo/2016/03/09/07/24/wall-1245523_1280.jpg);
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #ffffff;
  font-size: 1em;
  margin-bottom: 20px;
}

*img {
  filter: invert(100%);
}

#Bienveida{
  filter: invert(100%);
}